body {
  background: midnightblue;
}

.react-app {
  text-align: center;
}

.header {
  color: white;
  font-size: 36px;
}

.logo-container {
  margin: 0 auto;
  max-width: 250px;
  max-height: 250px;
}

.wbc-container {
  margin: 50px;
}
