.header {
  color: white;
  font-size: 36px;
  text-align: center;
}

.logo {
  max-width: 150px;
  max-height: 150px;
}

.wbc-container {
  margin: 50px;
}

.logo-container {
  margin: 25px auto;
  max-width: 150px;
  max-height: 150px;
}
