<!--The content below is only a placeholder and can be replaced.-->
<div class="logo-container">
  <img class="logo" src="assets/logo.png">
</div>

<div class="header">
  Angular & web-components integration demo
</div>

<div class="wbc-container">
  <two-way-binding></two-way-binding>
</div>
