<template>
  <div id="app">
    <div class="logo-container">
      <img class="logo" alt="Vue logo" src="./assets/logo.png">
    </div>
    <div class="header">
      Vue & web-components integration demo
    </div>
    <div class="wbc-container">
      <two-way-binding></two-way-binding>
    </div>
  </div>
</template>

<script>
import './two-way-wbc'

export default {
  name: 'App'
}
</script>

<style>
  body {
    background: darkgreen;
  }
  .logo {
    max-width: 150px;
    max-height: 150px;
  }
  .header {
    color: white;
    font-size: 36px;
    text-align: center;
  }
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  .wbc-container {
    margin: 50px;
  }
</style>
